[submodule "congress_gui"]
	path = congress_gui
	url = https://github.com/s4njee/congress_gui
[submodule "congress_api"]
	path = congress_api
	url = https://github.com/s4njee/congress_api/tree/goscraper
